# Selenium / Chrome
undetected-chromedriver
selenium
psutil
# Database
psycopg2-binary
# AI / Gemini
google-genai
# Google Sheets + Drive
gspread
oauth2client
google-api-python-client
# Telegram
requests
# Config
python-dotenv
PyYAML
setuptools
pytz
camoufox
camoufox[geoip]
pproxy